<div class="row intro">
  <div id="intro_line_1">
    <p>If you have a problem...</p>
  </div>
  <div id="intro_line_2">
    <p>If no one else can help...</p>
  </div>
  <div id="intro_line_3">
    <p>Maybe you can hire...</p>
  </div>
</div>