<div id="selling_points">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="text_with_2px_border">I am a trusted name</h3>
      <p>The A-Clean was established in 2008 and I have over 10 years experience, 
      including six years working in conjunction with Broad Oak BMW & Mini, Citroën, 
      Barretts Land Rover & Jaguar, and prepping new and used vehicles for sale.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="text_with_2px_border">I have worked on everything</h3>
      <p>Over the years I have valeted all sorts of cars, new and old, such as the
      Aston Martin DB7 and Vanquis, and Porche's 944 to the GT3. I even valet combine
      harvesters and tractors. Over the years I have built up a large and varied
      clientelle through recommendations and word-of-mouth.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="text_with_2px_border">I only use high quality products</h3>
      <p>I use products from Auto Glym, Meguiars, Chemical Guys, Gliptone, Dodo Juice, 
      Renovo, M3, Autobrite, Permashine, and more. I am always updating our product 
      selection to ensure the best results to suit any budget.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="text_with_2px_border">Why professionally valet my car?</h3>
      <p>Having a professionally valeted vehicle can make all the difference; some say
      it will go faster! Whether it's for a job interview, wedding, taking friends or
      the in-laws out, having a clean vehicle says positive things about the owner. 
      When it comes to reselling, having your vehicle valeted helps you to achieve a
      much quicker sale and you are more likely to recieve the full asking price.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="text_with_2px_border">I come to you!</h3>
      <p>I come to you, whether it's at home or at work, fitting in around you so you
      can get on with your day. Feel free to ask me questions about or products and
      techniques, I will be more than happy to answer them.</p>
    </div>
  </div>
</div>