@import "bootstrap";
@import "welcome";
$fa-font-path: "font-awesome/fonts";
@import "font-awesome";

body {
  background: #fefefe;
}

.navbar {
  background: #172330;
  font-family: 'Play', sans-serif;
}

.navbar-dark .navbar-brand img {
  width: 126px;
  margin-top: -0.5em;
  margin-bottom: -1.2em;
}

.navbar-dark .navbar-text {
  color: #fefefe;
  transition: all 0.2s ease-out;
}

.navbar-dark .navbar-text:hover {
  color: #d2583e;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fefefe;
  transition: all 0.2s ease-out;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #d2583e;
}