// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: #d2583e;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
}

h4 {
  text-align: center;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  text-align: center;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.img-thumbnail {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.carousel-caption {
  color: #fefefe;
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
}

.carousel-caption h5 {
  color: #d2583e;
}

.text_with_2px_border {
  text-shadow: 
    /* first layer at 1px */
    -1px -1px 0px #000,
     0px -1px 0px #000,
     1px -1px 0px #000,
    -1px  0px 0px #000,
     1px  0px 0px #000,
    -1px  1px 0px #000,
     0px  1px 0px #000,
     1px  1px 0px #000,
    /* second layer at 2px */
    -2px -2px 0px #000,
    -1px -2px 0px #000,
     0px -2px 0px #000,
     1px -2px 0px #000,
     2px -2px 0px #000,
     2px -1px 0px #000,
     2px  0px 0px #000,
     2px  1px 0px #000,
     2px  2px 0px #000,
     1px  2px 0px #000,
     0px  2px 0px #000,
    -1px  2px 0px #000,
    -2px  2px 0px #000,
    -2px  1px 0px #000,
    -2px  0px 0px #000,
    -2px -1px 0px #000;
}

@keyframes moveInFromLeft {
  0% {
    opacity: .2;
    transform: translateX(-200px);
  }
  50% {
    opacity: .9;
    transform: translateX(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.intro {
  margin-top: 20%;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  position: absolute;
}

#intro_line_1 {
  margin-left: -20%;
  opacity: 0;
  animation-name: moveInFromLeft;
  animation-duration: 1500ms;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#intro_line_2 {
  opacity: 0;
  animation-name: moveInFromLeft;
  animation-duration: 1500ms;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#intro_line_3 {
  margin-left: 20%;
  opacity: 0;
  animation-name: moveInFromLeft;
  animation-duration: 1500ms;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadeinBody {
  0% {
    opacity: 0.1;
  }
  10% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.5;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#home-page-content {
  opacity: 0;
  animation-name: fadeinBody;
  animation-duration: 1500ms;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#the {
  font-size: 0.6em;
  vertical-align: 70px;
  justify: right;
}

#capital_a {
  font-size: 2em;
}

#clean {
  font-size: 0.6em;
}